{{ define "title" }}Home{{ end }}

{{ define "main" }}
	<h2>Latest Snippets</h2>
	{{ range  . }}
		<p>
			<a href="/snippet/view?id={{ .ID }}"><strong>{{ .Title }}</strong></a>
		</p>
	{{ else }}
		<p>There's nothing to see here yet!</p>
	{{ end }}
{{ end }}
<!--
vim:ft=html:
-->
